@import 'tailwindcss';

@plugin "@midudev/tailwind-animations";

@theme {
  --color-mav-main:  #efefe5;
  --color-mav-black: #1e1e1e;
  --color-mav-gray: #4f4f4f;
  --color-mav-lightgray: #cccccc;
  --color-mav-orange: #ed470c;
  --color-mav-lightOrange: #fdaf74;
  --color-mav-darkOrange: #9a2912;

  --breakpoint-sx: 30rem;

  --text-secundary: 'The Nautigal', cursive;
}

body {
  font-family: 'Inter Variable', sans-serif;
  font-style: normal;
}

