---
import Klasico from '@/components/Creditos/Klasico.astro';
import Waalo from '@/components/Creditos/Waalo.astro';
---


<section class=" w-full flex flex-col items-center justify-center text-mav-gray/40 " >
    
    <!-- <div class="font-black -tracking-wider italic text-center -skew-3 mb-20">

    
    <h1 class="text-3xl text-mav-orange" >
        Gracias por hacer del MAVFEST 2025 <br> una edición inolvidable.
    </h1>
    <h4 class=" text-xl text-mav-black relative">¡La 10ma edición empieza ahora.!</h4>
    </div>-->
    

    <div class="flex flex-col items-center justify-center ">

    <div class="flex flex-col items-center justify-center ">
    <h2 class="text-xl text-mav-orange uppercase font-black -tracking-wider">
        Apoyo Especial
    </h2>

    
    <div class="equipo flex items-center gap-8 py-7 mb-8">
        <a href="https://www.instagram.com/waalostudio" 
        target="_blank"
        rel="noopener noreferrer"
        title="Visitar el Instagram de Waalo Studio"
        class=" text-mav-gray/60 hover:text-mav-black hover:scale-105 transition duration-300 ease-in-out ">
            <Waalo />
        </a>

        <a href="https://www.instagram.com/klasicoestudio" 
        target="_blank"
        rel="noopener noreferrer"
        title="Visitar el Instagram de Klasico Estudio"
        class=" text-mav-gray/60 hover:text-mav-black hover:scale-105 transition duration-300 ease-in-out ">
            <Klasico />
        </a>

        <a href="https://www.instagram.com/cineyaracuy" 
        target="_blank"
        rel="noopener noreferrer"
        title="Visitar el Instagram de Cine Yaracuy"
        class="  text-lg font-black -tracking-wider uppercase text-mav-gray/60 hover:text-mav-black hover:scale-105 transition duration-300 ease-in-out text-center leading-4 ">
            Cine <br> Yaracuy
        </a>
    </div>

    </div>

        

        

</section>