---
import GamarraLogo from '../assets/svg/colaboracion/GamarraLogo.svg';
import MichelLogo from '../assets/svg/colaboracion/MichelLogo.svg';
import PerezLogo from '../assets/svg/colaboracion/PerezLogo.svg';
import RojeroLogo from '../assets/svg/colaboracion/RojeroLogo.svg';
import WaaloLogo from '../assets/svg/colaboracion/WaaloLogo.svg';
---
<section class=" w-full flex flex-col items-center justify-center gap-2 py-20 px-4 md:px-0">
    <h2 class=" text-2xl font-black text-mav-orange uppercase -tracking-widest text-center relative" >
        Colaboradores
    </h2>
    <div class="flex flex-row items-center justify-center gap-x-4 text-mav-black/10 flex-wrap">
        <a href="">
            <GamarraLogo/>

        </a>
        <a href="">

            <MichelLogo/>
        </a>
        
        <a href="">
            <RojeroLogo/>
        </a> 
            


        <a 
        href="">

            <WaaloLogo/>
        </a>

    </div>

</section>
