---
---

<section class="w-full flex flex-col items-center justify-center px-10 xl:px-40">

    <div class=" w-full bg-mav-black flex-col  flex items-center justify-center gap-y-2 p-4 ">

        <ul class="text-white flex flex-col xl:flex-row font-bold  gap-2 xl:gap-12 text-center">

            <li class="flex flex-row justify-center items-end gap-2">
                <span class="font-medium" >Organizador</span>
                <h6 class=" text-xl 2xl:text-2xl uppercase -tracking-widest">Yeiko Gomez</h6>
            </li>
            <li class="flex flex-row justify-center items-end gap-2">
                <span class="font-medium">Asistente</span>
                <h6 class="text-xl 2xl:text-2xl uppercase  -tracking-widest">Crisfran Perez</h6>
            </li>
            <li class="flex flex-row justify-center items-end gap-2">
                <span class="font-medium"> Dirección de Arte</span>
                <h6 class="text-xl 2xl:text-2xl uppercase  -tracking-widest">Angelo Serrano</h6>
            </li>
        </ul>

        <ul class="text-white flex flex-col xl:flex-row font-bold gap-12">
            <li class=" flex flex-col xl:flex-row justify-center items-center gap-2">
                <span class="font-medium" >Equipo creativo</span>
                <h6 class="text-xl 2xl:text-2xl text-center uppercase -tracking-widest">Stephany Gamarra • Esther Rojero • Michell Lago • Ana Montes • Paola Marin </h6>
            </li>
        </ul>

        <ul class="text-white flex flex-row font-bold gap-12">
            <li class=" flex flex-col xl:flex-row justify-center items-center gap-2">
                <span class="font-medium" >Jueces</span>
                <h6 class="text-xl 2xl:text-2xl text-center uppercase -tracking-widest">Jose(Musiu) Parra • Naila Pérez • Leider Mendoza (Dosa) • Valeria Pérez • Alfredo Brito</h6>
            </li>
        </ul>
    </div>

    
    

</section>