<div class="fixed w-[200%] h-[200vh] inset-0 "></div>

<style>
    div {
    background-image: url('/images/grungeTexture.webp');
    background-repeat: repeat;
    background-size: contain;
    mix-blend-mode: multiply;
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
    overflow-x: hidden;
    filter: invert(100);
    
    
    }
</style>