
---

---
<section class="w-full flex justify-center items-center flex-col mt-10">

    <figure class="w-full flex items-center justify-center mix-blend-multiply opacity-90 mt-10">
        <img src="/images/mavVFX-big.png" alt="Logotema Mavfest 2025" class="w-auto">
    </figure>


    <div class=" w-full gap-4 flex flex-col items-center justify-center  mt-16 2xl:mt-0">
        <h1 class= "text-6xl font-black text-mav-orange uppercase -tracking-widest text-center relative animate-blurred-fade-in animation-delay-150" >
            Nov9no <span class=" ml-10 lg:ml-52">Festival</span>
        </h1>

         
        <aside w-full class=" flex flex-row items-center justify-center gap-10 mt-4 animate-blurred-fade-in animation-delay-300 ">
            <a 
           class="flex items-center justify-center italic h-full text-mav-gray font-bold text-md hover:text-mav-black transition-colors duration-300 ease-in-out"
           href="https://www.instagram.com/mav.fest.uney"
           target="_blank"
           rel="noopener noreferrer">
               @mav.fest.uney
               </a>
        </aside>
        </div>

        
        
    </div>

</section>


