---
import DIC from '../icons/Academico/DIC.astro'
import TU from '../icons/Academico/TU.astro'
import UA from '../icons/Academico/UA.astro'
import UNEY from '../icons/Academico/UNEY.astro'
import UNEYA from '../icons/Academico/UNEYA.astro'
---

<section class=" w-full h-60 flex items-center justify-center gap-10 py-10 text-mav-gray/40 " >
    <UNEY/>
    <DIC/>
    <TU/>
    <UA/>
    <UNEYA/>
</section>