<div class="fixed w-[200%] h-[200vh] inset-0 "></div>

<style>
    div {
    background-image: url('/images/metalTexture.webp');
    background-repeat: repeat;
    background-position: right;
    background-size: contain;
    opacity: 0.15;
    mix-blend-mode: exclusion;
    user-select: none;
    pointer-events: none;
    overflow-x: hidden;
    
    
    }
</style>