<div class="fixed w-[200%] h-[200vh] inset-0 "></div>

<style>
    div {
    background-image: url(/images/TexturaLightNew.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    mix-blend-mode: multiply;
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
    overflow-x: hidden;
    
    
    
    }
</style>