---

---

<section class=" w-full h-[300px] flex flex-col justify-center items-center gap-1 mt-20 ">
   <h2 class="text-2xl font-black text-mav-orange  -tracking-wider text-center">
    +32 historias
   </h2>
   <h3 class="text-2xl font-black text-mav-black   text-center">
    Tú tienes el poder para <br>
    decidir el cortometraje ganador.
   </h3>
   <h4 class=" text-7xl font-secundary text-mav-orange relative -top-9 -skew-5">¡En efecto, es cine!</h4>

</section>