---
import Line from '../assets/svg/line.svg';



import data from 'PreMavfestData.json';

const OFICIAL = data.OFICIAL;
---

<section class="w-full flex flex-col justify-center items-center p-7" >

    <div class=" w-full flex flex-col lg:flex-row justify-center items-center  gap-10">
        <div class="text-center">

            <h2 class="text-5xl font-black text-mav-orange -tracking-wider">+32 cortos</h2>
            <h2 class="text-xl font-black text-mav-black text-center -tracking-wider"> ¡La espera recién comienza!</h2>
            <div class="relative">
              <span class="absolute left-1/2 transform -translate-x-1/2 scale-150 -top-1 lg:-top-1 text-mav-orange/80">
                <Line />

              </span>
            
            <h3 class="text-md font-black text-mav-black text-center -tracking-wider leading-none my-5 -skew-5">¡Vibraste y votaste!<br> por tu corto favorito
            </h3>

            </div>

            <div class="flex flex-col text-center lg:text-left mt-10">
                
                <div class="guama flex-col text-center pb-2 uppercase">                  
                    <h2 class="text-mav-black text-xl font-black -tracking-wider mb-3"> La verdadera competencia comienza</h2>
                    <a 
                    href="/nominados"
                  rel="noopener noreferrer"
                    class="text-mav-orange italic font-bold -tracking-wider transition ease-in duration-300 inline-block hover:scale-105">Ver nominados<a/>
                    
                </div>
            </div>



        </div>


        <aside class=" h-90 overflow-auto p-7">
    {OFICIAL.map((x) => (
      <article id="list-view" class=" w-full flex flex-col mb-2" >
        <header class="w-full flex flex-row justify-between items-center mb-2 ">
          <h2 class=" text-6xl font-bold -tracking-widest text-mav-darkOrange">{x.Titulo}</h2>
          <p class=" text-mav-gray/40 font-bold px-4">{x.Duracion}</p>
        </header>
        <h4 class="text-lg font-medium -tracking-widest text-mav-black">{x.Productora}</h4>

        <footer>
          <p class="text-sm font-bold -tracking-wider text-mav-gray">{x.Genero}</p>
        </footer>
      </article>
    ))}
        </aside>

    </div>
</section>



<style> 

  aside {
    max-height: 500px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Color del thumb (naranja) y del track (gris claro) */
    -webkit-scrollbar-thumb {
      background-color: transparent; /* Color del thumb (naranja) */
    };
    mask-image: linear-gradient(to bottom, transparent, black 30px, black calc(100% - 40px), transparent);
  }

  @keyframes animate-in-and-out {
	entry 0%  {
		opacity: 0; transform: translateY(100%);
	}
	entry 100%  {
		opacity: 1; transform: translateY(0);
	}

	exit 0% {
		opacity: 1; transform: translateY(0);
	}
	exit 100% {
		opacity: 0; transform: translateY(-100%);
	}
}

#list-view  {
	animation: linear animate-in-and-out;
	animation-timeline: view();
}
</style>
