---

---

<section class=" w-full flex flex-col justify-center items-center gap-1  p-7">
   <h2 class="text-2xl lg:text-3xl font-black text-mav-black  -tracking-wider text-center">
    Gracias por venir al  <span class="text-mav-orange">Pre MavFest</span>
   </h2>
   <h3 class="text-xl lg:text-2xl sm:w-2xl font-black text-mav-black   text-center">
    Nuestra gratitud es el momento crucial para honrar la dedicación del público, no solo un epílogo.
   </h3>
   <h4 class=" text-6xl lg:text-7xl  font-bold font-secundary text-mav-orange relative -top-9 -skew-5 text-center">¡Decima Edición!</h4>

</section>