---

---

<section class=" w-full flex flex-col justify-center items-center gap-1 ">
   <h1 class="text-3xl font-black text-mav-black  -tracking-wider text-center">
    Gracias por venir al  <span class="text-mav-orange">Pre MavFest</span>
   </h1>
   <h3 class="text-2xl font-black text-mav-black   text-center">
    La antesala ha terminado pero nos vemos pronto
   </h3>
   <h4 class=" text-7xl font-secundary text-mav-orange relative -top-9 -skew-5">¡Mucha suerte a todos!</h4>

</section>