---

---

<section class=" w-full flex flex-col justify-center items-center gap-1 ">
   <h1 class="text-3xl font-black text-mav-black  -tracking-wider text-center">
    Ven al <span class="text-mav-orange">Pre MavFest</span>
   </h1>
   <h3 class="text-2xl font-black text-mav-black   text-center">
    mira los cortos en la antesala del festival
   </h3>
   <h4 class=" text-7xl font-secundary text-mav-orange relative -top-9 -skew-5">¿Cual ganara?</h4>

</section>