---

---

<section class=" w-full flex flex-col justify-center items-center gap-1  p-7">
   <h2 class="text-3xl font-black text-mav-black  -tracking-wider text-center">
    Gracias por venir al  <span class="text-mav-orange">Pre MavFest</span>
   </h2>
   <h3 class="text-2xl font-black text-mav-black   text-center">
    La antesala ha terminado pero nos vemos pronto
   </h3>
   <h4 class=" text-7xl font-secundary text-mav-orange relative -top-9 -skew-5 text-center">¡Mucha suerte!</h4>

</section>